#logo-text-shop {
    position: absolute;
    bottom: -5px;
    right: -25px;
    font-size: 0.75em;
    font-family: Ubuntu, sans-serif;
    color: var(--secondary-color);

}

#icons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#cart-link {
    line-height: 0;
    position: relative;
}

#cart-link img {
    height: 30px;
}

#badge {
    line-height: normal;
    position: absolute;
    background-color: var(--primary-color);
    color: white;
    border-radius: 10px;
    top: -8px;
    right: -5px;
    padding: 3px 5px;
    font-size: 0.8em;
}

#badge p {
    height: 15px;
}

/* Merch Card */
.product-card {
    display: flex;
    flex-direction: column;
    gap: 1em;
    border-radius: 0.75em;
    overflow: hidden;
    background-color: var(--background-grey);
    padding: 1em;
}

.product-image{
    border-radius: 0.25em;
}

.product-info{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.product-title{
    font-size: 1.5em;
}

.product-price{
    text-align: right;
    font-size: 1.2em;
}

.product-buttons{
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    justify-content: space-between;
}

.add-cart-button{
    padding: 0.8em;
    border-radius: 0.5em;
    font-size: 0.9em;
    border: none;
    text-decoration: none;
    font-weight: bold;
    background-color: var(--secondary-color-light);
    transition: 0.2s ease-in-out;
}

.add-cart-button:hover{
    background-color: var(--primary-color);
    color: var(--text-color);
    cursor: pointer;
}

/* when clicked */
.add-cart-button:active{
    transform: translateY(-5px);
    box-shadow: 0px 5px 50px -13px var(--primary-color-light);
}