.member-card{
    display: flex;
    position: relative;
    flex-direction: column;
    border-radius: 0.75em;
    overflow: hidden;
    background-color: var(--background-grey)
}

.member-card-image{
    width: 100%;
    object-fit: cover;
    border-end-start-radius: 0.75em;
    border-end-end-radius: 0.75em;
}

.member-card-filter{
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    aspect-ratio: 1/1;
    background: linear-gradient(180deg, rgba(33,19,19,0) 0%, rgba(33,19,19,0.15196591331845233) 75%, rgba(33,19,19,0.9) 100%);
}

.member-card-filter h3{
    padding: 0.5em 1em;
    font-size: 1.5em;
    color: var(--text-color);
}

.member-card-body{
    padding: 1em;
}
