section{
    padding: 1em;
}

.content-section{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    width: 100%;
}

.member-card{
    display: flex;
    position: relative;
    flex-direction: column;
    border-radius: 0.75em;
    overflow: hidden;
    background-color: var(--background-grey)
}

.member-card-image{
    width: 100%;
    object-fit: cover;
    border-end-start-radius: 0.75em;
    border-end-end-radius: 0.75em;
}

.member-card-filter{
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    aspect-ratio: 1/1;
    background: linear-gradient(180deg, rgba(33,19,19,0) 0%, rgba(33,19,19,0.15196591331845233) 75%, rgba(33,19,19,0.9) 100%);
}

.member-card-heading{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.member-card-filter h3{
    padding: 0.5em 0.5em 0.5em 1em;
    font-size: 1.5em;
    color: var(--text-color);
}

.tag{
    display: block;
    padding: 0.4em 0.8em;
    text-decoration: none;
    background-color: var(--background-color);
    color: var(--secondary-color-light);
    border-radius: 4em;
    border: 1px solid var(--background-color);
    transition: 0.1s ease-in-out;
}

.tag:hover{
    border: 1px solid var(--secondary-color-light);
}

.member-card-body{
    padding: 1em;
}
