/* Cart Card */
#bestellungen{
    padding: 0;
}

#bestellungen>.section-body{
    align-items: center;
}

.cart-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: fit-content;
    align-items: center;
    padding: 1em;
    gap: 1em;
    background-color: var(--background-grey);
    border-radius: 0.75em;
}

.cart-card-body{
    display: grid;
    grid-template-columns: minmax(min-content, 1fr) 1fr;
    grid-template-areas:
        "title title"
        "price price"
        "spinbox remove";
    gap: 0.5em;
}

.cart-card-image{
    height: 100%;
    min-width: 100px;
    max-width: 128px;
}

.cart-card-heading{
    grid-area: title;
}

.cart-card-price{
    grid-area: price;
}

.custom-spinbox{
    grid-area: spinbox;
}

.cart-card-remove{
    grid-area: remove;
    justify-self: end;
    border-radius: 0.75em;
    line-height: 0;
    padding: 0.5em;
    background-color: #00000000;
    border: none;
    transition: .1s ease-in-out;
}

.cart-card-remove:hover{
    cursor: pointer;
    background-color: #f06d6d50;
}

/* Bill */
.inner-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

table {
    width: 100%;
    max-width: 30em;
    border-collapse: collapse;
}

td {
    padding: 8px;
}

td:nth-child(even) {
    text-align: right;
}

tr:last-child td{
    font-weight: bold;
    border-top: 2px solid var(--primary-color);
}

.free-shipping{
    color: #77c077;
}

#total-price{
    font-size: 1.5em;
    color: var(--secondary-color-light);
}

#buy-button{
    border: none;
    font-size: 1em;
}

#buy-button:disabled{
    background-color: #737373;
    color: var(--text-color);
    transition: .3s ease-in-out;
}

#buy-button:disabled:hover{
    transform: none;
    box-shadow: none;
    cursor: default;
}

/* Pop-Up */
#popup{
    position: fixed;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* overflow: auto; */
    background-color: rgb(0,0,0,0);
    transition: .4s ease-in-out;
}

#popup.open{
    z-index: 4;
    background-color: rgba(0,0,0,0.6);
}

.popup-content{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -1;
    width: max-content;
    max-width: 80%;
    top: 30vh;
    gap: 1.5em;
    background-color: var(--background-grey);
    opacity: 0;
    border-radius: 0.75em;
    border: 1px solid var(--primary-color-light);
    padding: 2em;
    margin: auto;
    box-shadow: none;
    transition: .4s ease-in-out;
}

#popup.open .popup-content{
    z-index: 5;
    opacity: 1;
    /* box-shadow: 0px 5px 200px 0px var(--primary-color-light); */
}

.popup-content h2{
    font-size: 1.5em;
}

#close-popup{
    border: none;
    font-size: 1em;
}
