/* Cart Card */
#bestellungen{
    padding: 0;
}

#bestellungen>.section-body{
    align-items: center;
}

.cart-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: fit-content;
    align-items: center;
    padding: 1em;
    gap: 1em;
    background-color: var(--background-grey);
    border-radius: 0.75em;
}    

.cart-card-body{
    display: grid;
    grid-template-columns: minmax(max-content, 1fr) 1fr;
    grid-template-areas:
        "title title"
        "price price"
        "spinbox remove";
    gap: 0.5em;
}

.cart-card-image{
    height: 100%;
    min-width: 100px;
}

.cart-card-title{
    grid-area: title;
}

.cart-card-price{
    grid-area: price;
}

.custom-spinbox{
    grid-area: spinbox;
}

.cart-card-remove{
    grid-area: remove;
    justify-self: end;
    border-radius: 0.75em;
    line-height: 0;
    padding: 0.5em;
    background-color: #00000000;
    border: none;
    transition: .1s ease-in-out;
}

.cart-card-remove:hover{
    cursor: pointer;
    background-color: #f06d6d50;
}

/* Bill */
.inner-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

table {
    width: 100%;
    max-width: 30em;
    border-collapse: collapse;
}

td {
    padding: 8px;
}

td:nth-child(even) {
    text-align: right;
}

tr:last-child td{
    font-weight: bold;
    border-top: 2px solid var(--primary-color);
}

.free-shipping{
    color: #77c077;
}

.total-price{
    font-size: 1.5em;
    color: var(--secondary-color-light);
}

.buy-button{
    border: none;
    font-size: 1em;
}